
body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nested{
  margin-left: 3rem;
}
.container{
  background-color: inherit;
  cursor: pointer;
}
.container:hover{
  background-color: rgb(96, 93, 93);
}