
body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
}

.nested{
  margin-left: 3rem;
}
.container{
  background-color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin: 0.5rem;
}
.container:hover{
  background-color: rgb(96, 93, 93);
}
.icon-container{
  display: flex;
  gap:0.5rem
}
.icon{
  width: 28px;
  height: 28px;
  
}
.details{
  width: 100%;
}
.icon:hover{
  border: 1px solid white;
}