
.taskBox{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:0.5rem;
  width:400px;
  height: 170px;
}

li{
  display: flex;
  align-items: center;
  gap:3rem;
  width: 100%;
  height: 100%;
}
label{
  width: 120px;
}